<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sparsh_ReferrerUrlTracking::report_salesroot_referrer_url" title="Referrer URL - Orders" translate="title" action="referrer_url/report/order" module="Sparsh_ReferrerUrlTracking" sortOrder="100" parent="Magento_Reports::report_salesroot"  resource="Sparsh_ReferrerUrlTracking::salesroot_referrer_url"/>
        <add id="Sparsh_ReferrerUrlTracking::report_customers_referrer_url" title="Referrer URL - Customers" translate="title" module="Sparsh_ReferrerUrlTracking" action="referrer_url/report/customer" sortOrder="100" parent="Magento_Reports::report_customers"  resource="Sparsh_ReferrerUrlTracking::customers_referrer_url"/>
    </menu>
</config>
